---

layout: default
---


<div>

    <section class="page-header">
      <h1 class="project-name">{{ page-title }}</h1>
      <h2 class="project-tagline">{{ page-tagline }}</h2>
      {% if page.layout == 'home' and site.github.is_project_page %}
          <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
        {% if site.show_downloads %}
          <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
          <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
        {% endif %}
      {% endif %}
  
  {{ content }}

  <h2>Latest Posts</h2>

  <div>&nbsp;</div>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>

        {% assign date_format = site.cayman-blog.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}" title="{{ post.title }}">{{ post.title | escape }}</a>
        </h2>

        <span>{{ post.excerpt | markdownify | truncatewords: 30 }}</span>

      </li>
    {% endfor %}
  </ul>

      
      
      
</div>
